/*
Colors used:
Primary Color (Dark Blue): #0A192F;
Secondary Color (Green): #64FFDA;
Text Bright (Blue): #CCD6F6;
Text Body (Grey Blue): #8892B0;
*/

*{
    box-sizing:border-box;
}

body {
    background-color: #0A192F;
    font-family: 'open sans', Arial, Helvetica, sans-serif;
    font-size: 16px; 
    font-weight: 400;
    line-height: 1.6;
    color: #8892B0;
}

header{
    background-color: #0A192F;
    text-align: center;
    padding: 10px 0 0 0;
    position: fixed;
    width: 100%;
}

main {
    padding-top: 90px;
}

nav {
    display:inline-block;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li  {
    display: inline-block;

}

nav ul li a {
    padding:0 10px;
    text-transform: uppercase;
    font-weight: 400;
    
}

img {
    width: 100%;
}

h1, h2, h3, h4 {
    line-height: 1.4;
}

h1 {
    color: #CCD6F6;
    font-size: 3em;
    font-weight: 700;
}
  
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
  
h3 {
    font-size: 1.75em;
    font-weight: 400;
    color: #CCD6F6;
}

h4 {
    font-size: 1.35em;
    font-weight: 400;
}

.intro{
    font-size: 2.75;
    color: #8892B0;
}

a {
    color: #64FFDA;
    text-decoration: none;
}

a:hover {
    color: #3CD3AF;
    text-decoration: underline;
}

.logo {
    max-width: 250px;
}

.social{
    width: 40px;
    height: 40px;
    color: #CCD6F6;
    margin: 10px 10px 0 10px;
}


.links a {
    padding: 20px 10px 10px 10px;
    margin-bottom: 10px;
}

.me {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 150px;
    margin-left: auto;
    margin-right: auto;
}


/*--Button Styling--*/

.btn {
    background-color: #0A192F;
    border: 1px solid #64FFDA;
    border-radius: 4px;
    color: #64FFDA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 15px;
    transition-duration: 0.2s;
    transition-property: background-color;
}

.btn:hover {
    background-color: rgb(55, 97, 88);
    text-decoration: none;
}


/*--Layout Styling--*/

.container{
    padding: 0 15px;
}

.row{
    margin:25px 0;
}

#work{
    padding-bottom: 25px;
    border-bottom: 1px solid #8892B0;
}

#hero{
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#hero h1{
    text-align: center;
}

.placeartimg {
    margin-top: 25px;
}

/*------------CSS Animation-------------*/


.berlin-illustration {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill:#f76414;}
}

/*--
.sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
--*/

.sun {
    animation: 4s color-change infinite alternate linear;
}


@keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
}


/*--
.cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;

}
--*/

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse{
    from{ transform: translate(446px,48px);}
    to{ transform: translate(100px,48px);}
}

.cloud-back{
    animation: 38s cloud-move-reverse infinite alternate linear;
}

/*------------MEDIA QUERIES-------------*/


/*--Medium Screens 640 and larger--*/
@media only screen and (min-width:640px) {

header{
    text-align: unset;
}

nav {
    width: auto;
    float: right;
    
}

#hero {
    font-size: 18px;
}

.letsavehead{
    margin-top: 0;
}

.col-md-6 {
    width: 50%;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.row::after {
    content:"";
    clear: both;
    display: table;
}

}

/*--Large Screens 1024 and larger--*/
@media only screen and (min-width: 1024px) {

.col-lg-7 {
    width: 58.33%;
}

.col-lg-5 {
    width: 41.66%;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

}

/*--Extra Large Screens 1440 and larger--*/
@media only screen and (min-width: 1440px) {

}